@charset "utf-8";
/* CSS Document */

body{font-family: 'Roboto', sans-serif; color:rgb(71, 71, 71);}
::-moz-selection {color: white;background: #d454b4;}
::selection {color: white;background: #1adc9f;}
.btn:active:focus, .btn:focus {outline: none !important;}
 a, button, input {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('../fonts/Arabic/GESSTextLight-Light.woff2') format('woff2'),
        url('../fonts/Arabic/GESSTextLight-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('../fonts/Arabic/GESSTextUltraLight-UltraLight.woff2') format('woff2'),
        url('../fonts/Arabic/GESSTextUltraLight-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextBold-Bold.woff2') format('woff2'),
        url('GESSTextBold-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GE SS Text';
    src: url('GESSTextItalic-LightItalic.woff2') format('woff2'),
        url('GESSTextItalic-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'GE SS Text';
    src: url('../fonts/Arabic/GESSTextMedium-Medium.woff2') format('woff2'),
        url('../fonts/Arabic/GESSTextMedium-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

*{direction:rtl;}
body{font-family: 'GE SS Text';}



.fixed-top {position: fixed;box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.1);}
.header {left: 0;right: 0;z-index: 1002;background: #ffffff;-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.brand {background: #1adc9f;width: 270px;height: 80px;position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.brand a.logo {font-size: 36px;color: #fff;font-weight: 600;margin-right: 25px;}
.sidebar-toggle-box {margin-top: -1px;margin-left: -15px;width: 22px;height: 22px;position: absolute;left: -30px;cursor: pointer;}
.main-content-full{margin-right: 0 !important;}
.sidebar-toggle-box .fa{font-size: 24px;color: #000000;}
#sidebar {width: 270px;height: 100%;position: fixed;background: #1adc9f;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;z-index: 2;}
ul.sidebar-menu {padding-top: 200px;padding-right: 0px;list-style-type: none;}
ul.sidebar-menu li a .notification {font-size: 10px;position: absolute;background-color: red;padding: 0px 5px;border-radius: 50px;left: -22px;}
ul.sidebar-menu li a span.menu-a{position: relative;}
ul.sidebar-menu > li > a{cursor: pointer;font-size: 32px;font-weight: 200;color: #ffffff;width: 100%;margin: 10px 0;padding-right: 25px;display: block;}
ul.sidebar-menu li a.active{cursor: pointer;border-bottom: 1px solid #ffffff;color: #dcdcdc;}
#main-content {margin-right: 270px;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;background: #fff;position: relative;z-index:1;}
.wrapper {display: inline-block;margin-top: 73px;width: 100%;min-height: 400px;}
.inbox_people {background: #f8f8f8 none repeat scroll 0 0;float: left;overflow: hidden;width: 25%; border-right:1px solid #c4c4c4;}
.inbox_msg {border: 1px solid #e0e0e0;clear: both;overflow: hidden;border-right: none;}
.top_spac{ margin: 20px 0 0;}
.recent_heading {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.srch_bar {display: inline-block;text-align: right;width: 60%;}
.headind_srch{ padding:10px 30px 10px 20px; overflow:hidden; border-bottom:1px solid #ddd;}
.recent_heading h4 {color: #05728f;font-size: 21px;margin: auto;}
.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;font-weight: 600;}
.chat_ib h5 span{ font-size:12px; float:left;color: #bfbbbb;font-weight: 300;}
.chat_ib p{ font-size:14px; color:#555555; margin:auto}
.chat_ib {padding: 0 10px 0 0px;width: 88%;}
.chat_people{overflow:hidden; clear:both; display: -webkit-box;display: -ms-flexbox;display: flex;}
.chat_people.online .chat_img{position: relative;}
.chat_people.online .chat_img:before{content: '';background-color: #12bf12;width: 9px;height: 9px;position: absolute;z-index: 1;border-radius: 50%;bottom: 27px;}
.chat_list {border-bottom: 1px solid #c4c4c4;margin: 0;padding: 10px 10px 5px}
.inbox_chat { height: 468px; overflow-y: scroll;}
.active_chat{ background:#ebebeb;}
.incoming_msg_img {display: inline-block;margin-left: 10px;}
.received_msg {padding: 0 0 0 10px;vertical-align: top;margin: 8px 0;}
.received_withd_msg p {color: #646464;font-size: 14px;margin: 0;width: 100%;word-break: break-word;}
.time_date {color: #747474;display: block;font-size: 9px;margin: 8px 0 0;}
.sent_msg .time_date{color: #ffffff;}
.received_withd_msg {background: #ebebeb none repeat scroll 0 0;border-radius: 3px;padding: 5px 10px 5px 12px;width: auto;display: inline-block;}
.mesgs {float: left;padding: 15px 15px 0 4px;width: 75%;border-top: 1px solid #ddd;margin-top: 56px;}
.msg-width-wrap , .type-area {margin: 0 auto;}
.sent_msg p {font-size: 14px;margin: 0; color:#fff;width:100%;word-break: break-word;}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px; display: -webkit-box;display: -ms-flexbox;display: flex;}
.outgoing_msg_wrap{ display: -webkit-box;display: -ms-flexbox;display: flex;}
.sent_msg {margin: 8px 0;}
.sent-inner-msg-wrap {background: #1adc9f  none repeat scroll 0 0;border-radius: 3px;padding:10px 10px 5px 10px;width: auto;display: inline-block;}
.input_msg_write input {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;color: #4c4c4c;font-size: 15px;min-height: 48px;width: 100%;}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {background: #05728f none repeat scroll 0 0;border: medium none;border-radius: 50%;color: #fff;
cursor: pointer;font-size: 17px;height: 33px;position: absolute;right: 0;top: 11px;width: 33px;}
.messaging { padding: 0 0 20px 0;}
.msg_history {height:510px;overflow-y: auto; margin-left: 5px;}
.dwld-prvious-msg {margin-bottom: 30px;}
.dwld-prvious-msg a{font-size: 16px;color: #20ce88;cursor: pointer;}
.dwld-prvious-msg p{font-size: 11px;color: #010101;}
.incoming_msg {overflow: hidden;margin: 26px 0 26px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;
-ms-flex-pack: end;justify-content: flex-end;}
.rcv-msg-wrap .received_msg:first-child , .sent-msg-wrap .sent_msg:first-child {margin-top: 0;position: relative;}
.rcv-msg-wrap .received_msg:first-child:before {content: '';width: 0;height: 0;border-top: 4px solid transparent;border-bottom: 4px solid transparent;
border-right: 4px solid #e2e1e1;position: absolute;left: 6px;top: 40%;}
.sent-msg-wrap .sent_msg:first-child:before {content: '';width: 0;height: 0;border-top: 4px solid transparent;border-bottom: 4px solid transparent;
border-left: 4px solid #1adc9f;position: absolute;right: -4px;top: 40%;}
.messaging .type-area {position: relative;}
.messaging .type-area {background-color: #ffffff;display: -webkit-box;display: -ms-flexbox;display: flex;border-bottom: 1px solid #ddd;margin-top: 10px;margin-bottom: 10px;}
.messaging .type-area a.send-btn {cursor: pointer;position: absolute;right: 13px;top: 13px;color: #20ce88;}
.messaging .type-area textarea {border: none;background-color: #ffffff;padding: 0 15px 0 15px;box-shadow: none;margin: 10px 0;width: 100%;}
.messaging .type-area .cntrl-grp {padding: 0px 8px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.messaging .type-area .cntrl-grp .emoji {margin-top: 5px;font-size: 15px;color: #969494;}
.messaging .type-area .cntrl-grp .f-input {margin-top: 5px;margin-top: 5px;font-size: 15px;color: #969494;}
.messaging  .type-area .cntrl-grp .gif {line-height: inherit;font-size: 11px;padding: 4px 5px 0px 5px;border-radius: 3px;color: #969494;border: 1px solid #afaeae;}

.messaging .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar , .messaging .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #9fe5c9;}
.messaging .mCSB_scrollTools .mCSB_draggerRail {background-color: #000;background-color: rgb(234, 240, 243);}
.messaging .inbox_people  .mCustomScrollbar{margin-left: -22px;}
.messaging .mCS-dir-rtl > .mCSB_inside > .mCSB_container{margin-left: 9px;}

.chat_list.active_chat{background: #1adc9f;}    
.chat_list.active_chat .chat_ib h5 , .chat_list.active_chat .chat_ib h5 span , .chat_list.active_chat .chat_ib p {color: #ffffff;}

.recent_heading select {border: none;background: transparent;font-size: 20px;font-weight: 600;}
.admin-header {padding: 10px 22px 5px 15px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;background-color: #f6f6f6;}
.user-h1{font-size: 33px;font-weight: 600;margin: 0;display: inline-block;}
.user-btn-mobile {display: none;}
.mCSB_scrollTools{opacity: 1;}

.admin-header .meta  {display: inline-block;padding-right: 30px;margin-right: 30px;border-right: 1px solid #cecece;}
.admin-header .meta p{margin-bottom: 4px;}


.messenger-inner{padding: 40px 20px 70px 20px;border-top: 1px solid #e0e0e0;background-color: #ffffff;}
.messenger-inner h1{font-size: 33px;font-weight: 600;margin: 0 0 15px 0;}

.msngr-features .transition , .msngr-features p , .msngr-features ul li i:before , .msngr-features ul li i:after {transition: all 0.25s ease-in-out;}
.msngr-features .flipIn , .msngr-features  h1 , .msngr-features  ul li {animation: flipdown 0.5s ease both;}
.msngr-features .no-select, h2 {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;
-moz-user-select: none;-ms-user-select: none;user-select: none;}
.msngr-features ul {list-style: none;perspective: 900;padding: 0;margin: 0;}
.msngr-features ul li {position: relative;padding-bottom: 4px;border: 1px solid #cdcdcd;margin-bottom: 15px;border-radius: 6px;}
.msngr-features h2{font-size: 20px;color: #333333;font-weight: 600;margin-top: 0;display: inline-block;}
.msngr-features h5{font-size: 16px;color: #a3a3a3;font-weight: 600;margin-bottom: 0;}
.msngr-features p{font-size: 16px;margin-bottom: 0;margin-top: 20px;}
/*.msngr-features ul li:nth-of-type(1) {animation-delay: 0.5s;}
.msngr-features ul li:nth-of-type(2) {animation-delay: 0.75s;}
.msngr-features ul li:nth-of-type(3) {animation-delay: 1s;}*/
.msngr-features ul li i.arrow-dwn {position: absolute;transform: translate(-6px, 0);margin-top: 45px;left: 33px;}
.msngr-features ul li i.arrow-dwn:before, ul li i.arrow-dwn:after {content: "";position: absolute;background-color: #c2c6c5;width: 3px;height: 9px;}
.msngr-features ul li i.arrow-dwn:before {transform: translate(-2px, 0) rotate(45deg);}
.msngr-features ul li i.arrow-dwn:after {transform: translate(2px, 0) rotate(-45deg);}
/*.msngr-features ul li input[type=checkbox] {position: absolute;cursor: pointer;width: 100%;height: 100%;z-index: 1;opacity: 0;top: 0;right: 0;margin: 0;}
.msngr-features ul li input[type=checkbox]:checked ~ p {margin-top: 0;max-height: 0;opacity: 0;transform: translate(0, 50%);}
*/
.msngr-features ul li i.main:before {transform: translate(2px, 0) rotate(45deg);}
.msngr-features ul li i.main:after {transform: translate(-2px, 0) rotate(-45deg);}
@keyframes flipdown {
	0% {opacity: 0;transform-origin: top center;transform: rotateX(-90deg);}
	5% {opacity: 1;}
	80% {transform: rotateX(8deg);}
	83% {transform: rotateX(6deg);}
	92% {transform: rotateX(-3deg);}
	100% {transform-origin: top center;transform: rotateX(0deg);}
}
.acc-inner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 20px;}
.acc-inner .text{margin-right: 20px;}
.msngr-features > a{cursor: pointer;font-size: 18px;font-weight: 700;color: #333333;}
.msngr-features > a:hover{color: #1adc9f;}
/*.accordiabn-meta {padding: 20px 90px 20px 20px;border-top: 1px solid #fafafa;background-color: #fefefe;}*/
.accordiabn-meta {padding: 20px 90px 20px 20px;border-top: 1px solid #fafafa;background-color: #fefefe;display: none;}
.acc-inner-wrap{} 
.acc-inner-wrap h2{margin: 0;}
.acc-inner-wrap p{margin: 0;}
.accordiabn-meta .form-group label{color: #aaa9a9;}
.accordiabn-meta .form-group p.word-cnt {margin: 0;color: #aaa9a9;}
.accordiabn-meta .form-group .form-control {width: 443px !important;}
.accordiabn-meta .save{font-weight: 500;font-size: 20px;border-radius: 1;padding: 4px 16px;border: 1px solid #d4d0d0;background-color: #20ce88;color: #fff;margin-left: 10px;}
.accordiabn-meta .save:hover{background-color: #1ab778;}
.accordiabn-meta .cancle{font-weight: 500;font-size: 20px;border-radius: 1;padding: 4px 16px;border: 1px solid #d4d0d0;}
/*.accordiabn-meta .btn-grp {margin-top: -20px;}*/
.set-office-hrs .form-group .fields i.fa.fa-trash-o.main {font-size: 20px;margin-right: 10px;color: #8b8b8b;}
.accordiabn-meta .form-group .add-hrs i {font-size: 14px;position: relative;top: -2px;margin-left: 5px;}
.accordiabn-meta .form-group .add-hrs i.fa.fa-plus-circle.main{font-size: 18px;position: relative;top: 0px;margin-right: 5px;color: green;}
.accordiabn-meta i.fa.fa-plus-circle {font-size: 18px;position: relative;top: 0px;margin-right: 5px;color: green;}
.set-office-hrs .form-group .fields{display: -webkit-box;display: -ms-flexbox;display: flex;width: 350px;-webkit-box-align: center;-ms-flex-align: center;
align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.custome-rdo .container {display: block;position: relative;padding-right: 25px;margin-bottom: 12px;cursor: pointer;font-size: 16px;color: #333 !important;
font-weight: normal;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.accordiabn-meta .form-group  select{height: 34px;padding: 6px 12px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.accordiabn-meta .set-office-hrs .form-group {margin: 20px 0 20px 0 !important;}
.accordiabn-meta .form-group {margin: 20px 0 20px 0 !important;}


.accordiabn-meta p.note {color: #c1c1c1;margin-bottom: 20px;}


.custome-rdo .container input {position: absolute;opacity: 0;cursor: pointer;}
.custome-rdo .checkmark {position: absolute;top: 0;right: 0;height: 16px;width: 16px;background-color: #eee;border-radius: 50%;}
.custome-rdo .container:hover input ~ .checkmark {background-color: #ccc;}
.custome-rdo .container input:checked ~ .checkmark {background-color: #2196F3;}
.custome-rdo .checkmark:after {content: "";position: absolute;display: none;}
.custome-rdo .container input:checked ~ .checkmark:after {display: block;}
.custome-rdo .container .checkmark:after {top: 6px;left: 6px;width: 5px;height: 5px;border-radius: 50%;background: white;}

.accordiabn-meta .form-group .add-hrs{font-size: 18px;margin-top: 10px;display: inline-block;}

.accordiabn-meta .logo-uploadarea p {
color: #717070;
font-size: 16px;
font-weight: 500;
margin: 0;
}
.accordiabn-meta .logo-uploadarea .hide {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

.accordiabn-meta .logo-uploadarea label[for="upload"] , .accordiabn-meta .logo-uploadarea label[for="widget_image"] {
display: inline-block;
cursor: pointer;
padding: 10px 16px;
min-width: 140px;
background-color: transparent;
border: 2px solid #b4b3b3;
color: #68767e;
border-radius: 8px;
transition: all 0.3s;
}

.accordiabn-meta .logo-uploadarea label .fa {
font-size: 17px;
float: left;
}

.admin-chat-widget .chat-widget .msg-area {max-height: 330px;}
.admin-chat-widget .chat-widget {max-width: 380px;margin: 30px 0px 10px 0px;bottom: 120px;}
.admin-chat-widget .chat-widget .receiver , .chat-widget .sender{
display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;}
.admin-chat-widget .chat-widget .msg-bubble{position: relative;background: #ffffff;border-radius: 5px;padding: 12px;-webkit-box-shadow: 0px 0px 5px #d0cbcb;
box-shadow: 0px 0px 5px #d0cbcb;width: 80%;margin-right: 1px;}
.admin-chat-widget .chat-widget .receiver .msg-bubble:after {
content: '';position: absolute;left: 0;bottom: 13px;width: 0;height: 0;border: 13px solid transparent;
border-right-color: #e4e4e4;border-left: 0;border-top: 0;margin-top: -6.5px;margin-left: -13px;}
.admin-chat-widget .chat-widget .receiver .msg-bubble:before {
content: '';position: absolute;left: 0;bottom: 12px;width: 0;height: 0;border: 13px solid transparent;
border-right-color: #fff;border-left: 0;border-top: 0;margin-top: -5.5px;margin-left: -11px;z-index: 9;}
.admin-chat-widget .chat-widget .sender .msg-bubble:after {
content: '';position: absolute;right: 0;bottom: 13px;width: 0;height: 0;border: 13px solid transparent;
border-left-color: #e4e4e4;border-right: 0;border-top: 0;margin-top: -6.5px;margin-right: -13px;}
.admin-chat-widget .chat-widget .sender .msg-bubble:before {
content: '';position: absolute;right: 0;bottom: 12px;width: 0;height: 0;border: 13px solid transparent;
border-left-color: #fff;border-right: 0;border-top: 0;margin-top: -5.5px;margin-right: -11px;z-index: 9;}
.admin-chat-widget .chat-widget .msg-bubble .main-msg{font-size: 15px;font-weight: 200;color: #5d5d5d;margin-right: 10px;}
.admin-chat-widget .chat-widget .msg-bubble .main-msg.title{font-size: 15px;font-weight: 600;color: #000;}
.admin-chat-widget .chat-widget .msg-bubble .time{font-size: 11px;font-weight: 200;color: #a1a1a1;margin-bottom: 0;}
.admin-chat-widget .chat-widget .user-avtar {width: 48px;margin: 0;}
.admin-chat-widget .chat-widget .user-avtar img{width: 100px;}
.admin-chat-widget .chat-widget .receiver .user-avtar {margin-right: 20px;}
.admin-chat-widget .chat-widget .sender .user-avtar {margin-left: 20px;}
.admin-chat-widget .chat-widget .receiver , .chat-widget .sender{margin: 18px 0;}
.admin-chat-widget .chat-widget .type-area {background-color: #eeedf2;display: flex;}
.admin-chat-widget .chat-widget .type-area .cntrl-grp{width: 30%;padding: 0 10px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;
-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.admin-chat-widget .chat-widget .type-area .cntrl-grp .f-input{margin-top: 5px;margin-top: 5px;font-size: 15px;color: #969494;}
.admin-chat-widget .chat-widget .type-area .cntrl-grp .emoji{margin-top: 5px;font-size: 15px;color: #969494;}
.admin-chat-widget .chat-widget .type-area .cntrl-grp .gif{line-height: inherit;font-size: 11px;padding: 4px 5px 0px 5px;border-radius: 3px;color: #969494;border: 1px solid #afaeae;}
.admin-chat-widget .chat-widget .type-area{position: relative;}
.admin-chat-widget .chat-widget .type-area a.send-btn{cursor: pointer;position: absolute;right: 13px;top: 13px;color: #20ce88;}
.admin-chat-widget .chat-widget .type-area textarea{border: none;
background-color: #eeedf2;padding: 0 38px 0 0;box-shadow: none;margin: 10px 0;}
.admin-chat-widget .chat-icon {right: 20px;bottom: 30px;}
.admin-chat-widget .chat-icon a {font-size:28px;font-weight: 500;color: #fff;background-color: #20ce88;width: 60px;height: 60px;display: inline-block;text-align: center;
line-height: 54px;border-radius: 50%;}
.admin-chat-widget {margin-bottom: -30px;}
.messenger-inner .row{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: end;-ms-flex-align: end;
align-items: flex-end;-ms-flex-wrap: wrap;flex-wrap: wrap;}

.admin-header .meta a{font-weight: 600;color: #20ce88;}
.admin-header .meta a.how-task{margin-left: 15px;}
.admin-header .meta a .fa{margin-left: 5px;}
.admin-header img{margin-left: 20px;width: 40px;}

.task-bot h1 {font-size: 24px;margin-bottom: 0px;}
.task-bot h3 {font-size: 18px;}

.task-bot .row{-webkit-box-align: stretch !important;-ms-flex-align: stretch !important;align-items: stretch !important;margin-right: inherit;margin-left: inherit;}
.task-bot .row .col-md-4.col-sm-4.col-xs-12 {padding-left: 0;background-color: #f6f6f6;-webkit-box-shadow: -8px 0px 20px -1px rgba(38,38,38,0.1);
box-shadow: -8px 0px 20px -1px rgba(38,38,38,0.1);position: relative;z-index: 1;}
.task-bot .right-part  h1{font-size: 25px;font-weight: 600;margin-bottom: 35px;color: #333333;}
.task-bot .right-part ul{list-style-type: none;padding: 0;margin: 0;}
.task-bot .right-part ul li a{cursor: pointer;font-size: 18px;color: #636363;margin-bottom: 0;padding: 2px 24px 2px 24px;display: inline-block;}
.task-bot .right-part ul li a:hover{color: #20ce88;}
.task-bot .right-part ul li a.active{color: #20ce88;}
.task-bot .right-part ul li span{background-color: #20ce88;font-size: 16px;color: #ffffff;padding: 4px 7px;border-radius: 4px;margin-right: 10px;position: relative;bottom: 3px;}
.right-part {padding: 20px;}	
.chat-new-right-part{height: 90vh;}
.task-bot .messenger-inner {padding: 0;}
.task-bot .messenger-inner .admin-header {margin-left: -15px;margin-right: -15px;padding: 30px 45px 28px 15px;border-bottom: 1px solid #efefef;}
.task-bot .messenger-inner .msngr-features {padding: 30px;}
.task-bot .msngr-features span.off{background-color: #ebebeb;border: 1px solid #c1c1c1;font-size: 12px;color: #333;padding: 2px 7px;border-radius: 4px;margin-right: 10px;
position: relative;bottom: 3px;}
.task-bot .msngr-features span.on{background-color: #53ad61;font-size: 12px;color: #ffffff;padding: 2px 7px;border-radius: 4px;margin-right: 10px;position: relative;
bottom: 3px;}

.custome-dd {position: absolute;bottom: 4%;}
.custome-dd p{font-size: 18px;font-weight: 600;color: #333333;}
.custome-dd .dropbtn {background-color: #1adc9f;color: white;padding: 7px 15px;font-size: 16px;border: none;cursor: pointer;min-width: 160px;text-align: right;font-weight: 600;}

.custome-dd .dropbtn .fa{font-size: 14px;position: absolute;left: 13px;top: 10px;}
.custome-dd .dropbtn:hover , .custome-dd  .dropbtn:focus {background-color: #16c18b;}
.custome-dd .dropdown {position: relative;display: inline-block;}
.custome-dd .dropdown-content {display: none;position: absolute;background-color: #f1f1f1;min-width: 160px;overflow: auto;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;top: -95px;}
.custome-dd .dropdown-content a {cursor: pointer;color: black;padding: 6px 16px;text-decoration: none;display: block;}
.custome-dd .dropdown a:hover {background-color: #ddd;}
.custome-dd .show {display: block;}
ul.sidebar-menu > li > a:hover{background-color: #2dcb99;}
/* .active-sidebar-menu{background-color: #2dcb99;} */
form.search-area input[type=text] {padding: 10px 10px 10px 0px;font-size: 24px;font-weight: 700;border: none;width: 90%;background: transparent;}
form.search-area input[type=text]:focus {outline: none;}
form.search-area button {float: left;width: 10%;padding: 10px 0;background: transparent;color: #333;font-size: 24px;border: none;border-left: none;cursor: pointer;text-align: left;}
form.search-area button:hover {background-color: transparent;}
form.search-area::after {content: "";clear: both;display: table;}


.right-part button.btn.dropdown-toggle {width: 100%;text-align: inherit;background-color: transparent;font-size: 22px;font-weight: 600;padding: 6px 0;}
.right-part .btn:active{box-shadow: none;}
.right-part ul.dropdown-menu {width: 100%;background: transparent;border: none;box-shadow: none;text-align: right;}
.right-part .btn .caret {margin-right: 12px;border-top: 7px dashed #474747;border-right: 7px solid transparent;border-left: 7px solid transparent;}
.right-part ul.dropdown-menu li a{cursor: pointer;width: 100%;}
.right-part ul.dropdown-menu li a.active-dd{color: #1adc9f;}
.right-part ul.dropdown-menu li a p{display: inline-block;float: left;margin:0;}
.right-part div.dropdown {margin-bottom: 150px;}

.admin-header-with-btn .btn {font-size: 16px;margin: 0 5px;}
.admin-header-with-btn .btn i{margin-left: 8px;}
.admin-header .admin-header-title-wrap{display: block;width: 100%;}
.admin-header .admin-header-btn-wrap{margin-top: 20px;}
.admin-header-with-btn{display: inherit !important;}

.chat-new-inner-msg img {width: 50px;}
.chat-new-inner-msg h1{font-size: 32px;}
.chat-new-inner-msg h4{font-size: 26px;}
.chat-new-inner-msg .btn{font-weight: 500;font-size: 20px;border-radius: 6px;padding: 4px 16px;border: 1px solid #d4d0d0;background-color: #20ce88;color: #fff;margin-left: 10px;}
.chat-new-inner-msg .btn:hover {background-color: #1ab778;}
.chat-new-inner-msg {margin-top: 180px;}
.chat-new-inner .chat-new-control {display: -webkit-box;display: -ms-flexbox;display: flex;border: 1px solid #bdbaba;border-radius: 3px;width: 64px;margin-left:20px;}
.chat-new-inner .chat-new-control a{cursor: pointer;text-decoration: none;}
.chat-new-inner .chat-new-control a{padding: 4px 8px;display: inherit;margin: -1px;width: 33px;}
.chat-new-inner .chat-new-control a i{font-size: 17px;color: #4f4f4f;}
.chat-new-inner .chat-new-control .active-cntrl{border: 2px solid #1adc9f;}


.sidebar-menu li.dropdown ul.dropdown-menu{width: 100%;border-radius: 0;text-align: right;padding: 0;left: -270px;top: -130px;}
.sidebar-menu li.dropdown ul.dropdown-menu li a{cursor: pointer;font-size: 18px;padding: 6px 20px;}
.sidebar-menu li.dropdown ul.dropdown-menu li a i{width: 20px;margin-left: 0px;}
.chat-new-inner-header .chat-new-inner .chat-new-control a i.fa.fa-globe {position: relative;top: 2px;right: 2px;}
.chat-new-inner-header .header-dd .dropdown {width: 60px;}
.chat-new-inner-header .header-dd .dropdown  ul.dropdown-menu{padding: 5px 8px;right: 0;min-width: 190px;}
.chat-new-inner-header .header-dd .dropdown .btn .caret {margin-right: 10px;}
.chat-new-inner-header .header-dd .dropdown .btn{border: 1px solid #bdbaba;background-color: transparent;padding: 4px 12px;}
.chat-new-inner-header {display: -webkit-box;display: -ms-flexbox;display: flex;margin: 30px 35px 0 0;}
.chat-new-inner-header .header-dd .dropdown  ul.dropdown-menu li input[type=checkbox]{float: left;margin-right: 7px;}
.chat-new-inner-header .header-dd .dropdown  ul.dropdown-menu li i {font-size: 15px;width: 16px;margin-right: 2px;text-align: center;}
.chat-new-inner-header .header-dd .dropdown  ul.dropdown-menu li{padding: 5px 0;}
.header-dd h3 {font-size: 18px;}
.header-dd .container {display: block;position: relative;padding-left: 25px;margin-bottom: 0px;cursor: pointer;font-size: 16px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.header-dd .container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.header-dd .checkmark {position: absolute;top: 3px;left: 5px;height: 15px;width: 15px;background-color: transparent;border: 1px solid #d6d6d6;}
.header-dd .container:hover input ~ .checkmark {background-color: #ccc;}
.header-dd .container input:checked ~ .checkmark {background-color: #2196F3;}
.header-dd .checkmark:after {content: "";position: absolute;display: none;}
.header-dd .container input:checked ~ .checkmark:after {display: block;}
.header-dd .container .checkmark:after {left: 4px;top: 1px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

.sidebar-menu li.dropdown ul.dropdown-menu li a i.fa.fa-credit-card-alt{font-size: 13px;}
.sidebar-menu li.dropdown ul.dropdown-menu li.t-n-p a , 
.sidebar-menu li.dropdown ul.dropdown-menu li.logout a {padding: 10px 20px;border-top: 1px solid #eee;}
.sidebar-menu li.dropdown ul.dropdown-menu li.billing{margin-bottom: 30px;}
.sidebar-menu li.dropdown ul.dropdown-menu li.setting{margin-top: 30px;}
.sidebar-menu li.dropdown ul.dropdown-menu li.online-user{margin: 15px 0;border-bottom: 1px solid #eee;}

.active-user {margin: 0;padding: 0px 10px 5px;}
.active-people {overflow: hidden;clear: both;display: -webkit-box;display: -ms-flexbox;display: flex;}
.active-people.online .active-user-img {position: relative;}
.active-user-ib {padding: 0 10px 0 0px;width: 88%;}
.active-user-ib h5 {font-size: 18px;color: #464646;margin: 0 0 0px 0;font-weight: 600;}
.active-user-ib p {font-size: 14px;color: #9a9a9a;margin: auto;}
.active-people.online .active-user-img:before {content: '';background-color: #12bf12;width: 9px;height: 9px;position: absolute;z-index: 1;border-radius: 50%;top: 27px;}
#image_file, #gif_file{display: none !important;}


#submitForm .type-area .emoji-picker-container{width: 100%;margin: 0;}
#submitForm .type-area .emoji-menu{left: -30px;top: -230px;right: inherit;}
#submitForm .type-area .emoji-picker-icon{position: unset;}
#submitForm .type-area {background-color: transparent;}
#submitForm .type-area .emoji-wysiwyg-editor{border: none;background-color:transparent;display: -webkit-box;
display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
#submitForm .type-area .emoji-wysiwyg-editor:focus{box-shadow: none;}
#submitForm .type-area button.send-btn {background-color: transparent;box-shadow: none;border: none;color: #1adc9f;}
#submitForm .type-area .cntrl-grp .element{cursor: pointer;}
::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #1adc9f; }
::-webkit-scrollbar-thumb:hover {background: #1adc9f;  }

.user-fillter {padding: 10px 30px 10px 20px;border-bottom: 1px solid #ddd;}
.user-fillter h3{margin-top: 0;font-size: 24px;color: #1adc9f;}
.user-fillter h3 i{font-size: 13px;color: #595959;margin-right: 10px;}
.user-fillter select{width: 100%;padding: 0;background-color: transparent;border: none;font-size: 18px;}
.user-fillter select option {background-color: #f8f8f8;}
.user-fillter select:focus {outline: none;}p.lead {width: 100%;margin-bottom: 0;}
.loader {border: 10px solid #f3f3f3;border-top: 10px solid #1adc9f;border-radius: 50%;width: 65px;height: 65px;animation: spin 2s linear infinite;
position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 9;}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
body.loading:before {content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.3);z-index: 9;}
div#show-more {text-align: center;}
div#show-more button#show_more {background-color: transparent;color: #1adc9f;font-weight: bold;font-size: 18px;}
.login {width: 10px;height: 10px;display: block;}
.main-chat-list {position: relative;}
.load-more{position: absolute;top: 50%;left: 50%;transform: translate(-50% , -50%);}

/* 02-04-2019 */
.setting-right-side {height: 100vh;padding: 20px 0;}
.setting-left-side{float: left;padding: 15px 15px 0 4px;width: 75%;margin-top: 56px;position: relative;height: 75vh;}
.user-h1 .fa{font-size: 22px;margin-right: 8px;}
.setting-right-side select {font-size: 20px;}
.setting-right-side .dropdown{padding: 0 20px;}
.setting-right-side .dropdown .btn{padding: 15px 0;box-shadow: none;background-color: transparent;width: 100%;font-size: 27px;font-weight: 200;display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.setting-right-side ul{min-width: 100%;box-shadow: none;list-style-type: none;margin: 0;padding-right: 0px;}
.setting-right-side ul >li{text-align: right;}
.setting-right-side ul >li>a {padding: 6px 10px;font-size: 18px; font-weight: 400;}
.setting-right-side ul >li>a:hover , .setting-right-side ul >li>a.active {color: #337ab7;}
.setting-right-side .dropdown .caret{border-top: 6px dashed;border-right: 6px solid transparent;border-left: 6px solid transparent;transition: all 0.4s ease;}
.setting-right-side a {cursor: pointer;text-decoration: none;color: #333333; display: -webkit-box;display: -ms-flexbox;display: flex;padding: 0 20px;}
.setting-right-side a:focus {outline: none;}
.setting-right-side a h3{font-weight: 200;margin: 10px 0;font-size: 27px;}
.setting-right-side .dropdown .btn .fa {transform: rotateZ(90deg);}
.setting-right-side .dropdown .btn.open .fa {transform: rotateZ(360deg);}
select.fixture_timezone {border-radius: 4px;height: 33px;}
button.btn.keep-up-btn {position: absolute;bottom: 20px;right: 65px;color: #fff;background-color: #1adc9f;}
button.btn.keep-up-btn:hover {background-color: #16ba86;}
.setting-left-side .form-group {display: inline-grid;margin-right: 50px;}
.setting-left-side .form-group label{font-size: 20px;}

.notification-block {position: absolute;background-color: #ffffff;right: 160px;bottom: 43%;z-index: 999999;max-width: 500px;width: 350px;-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.notification-inner-block {
    border: 1px solid #ebebeb;
    margin : 5px;
}
.notification-block .notification-inner-block .notification-block-header{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 10px;border-bottom: 1px solid #ddd;}
.notification-block .notification-inner-block .notification-block-header a{
    color: grey; 
}
.notification-block .notification-inner-block .notification-block-header h3{
    margin: 0;
    font-size: 22px;
}
.notification-block .notification-inner-block .notification-block-inner{
    padding: 10px;
    height: 150px;
    overflow: auto;
}
.notification-block .notification-inner-block .notification-block-inner .media{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #f3f3f3;
}
.notification-block  .notification-inner-block .notification-block-inner .media .media:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.notification-block .notification-inner-block .notification-block-inner .media .media-left{margin-left: 10px;}
.notification-block .notification-inner-block .notification-block-inner .media .media-left img{border-radius: 50%;}
.notification-block .notification-inner-block .notification-block-inner .media .media-body .n-count{border-radius: 50%;background-color: red;width: 15px;height: 15px;font-size: 8px;color: #ffffff;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.notification-block .notification-inner-block .notification-block-inner .media .media-body{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.notification-block .notification-inner-block .notification-block-inner .media .media-heading {width: 290px;text-overflow: ellipsis;overflow: hidden;
height: 15px;white-space: nowrap;}

#main-content.main-content-full {z-index: 3;}

.install-page-wrapper {padding-left: 40px;}
.install-page-wrapper p{font-size: 20px;margin-bottom: 50px;font-weight: 200;}
/* .install-page-wrapper h4.title{font-size: 20px;font-weight: 900;} */
.install-page-wrapper h4{font-size: 18px;margin-bottom: 15px;font-weight: 200;}

.install-page-wrapper .code-viewer{margin-top: 40px;}
.install-page-wrapper .code-viewer textarea{
    resize: none;
    width: 100%;
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    padding-right: 35px;
    padding-top: 10px;
    border-color: #ccc;
    line-height: 17px;
    font-size : 12px;               
}
